
.EBTN{
  border :none;
  border-radius :3rem;
  color :black;
  font-size :4rem;
  background-color: transparent;
  overflow: hidden;
  padding: 1rem 2rem;
  position :relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change :transform;
  z-index: 0;
}
  .EBTN::after{
    background-color: #94d7bb;
    border-radius: 3rem;
    content: '';
    display :block;
    height: 100%;
    width: 100%;
    position :absolute;
    left: 0;
    top :0;
    transform :translate(-100%, 0) rotate(10deg);
    transform-origin :top left;
    transition: .2s transform ease-out;
    will-change :transform;
    z-index :-1;
}

    .EBTN:hover::after{
    transform :translate(0, 0);
}
.EBTN:hover{
    border: 2px solid transparent;
    font-weight :700;
    color: #f2f2f2;
    transform :scale(1.05);
    will-change :transform;
}
.EBTN:disabled{
    border: 2px solid gray;
    border-radius :1rem;
    font-weight :700;
    color: white;
    background-color: #94d7bb;
    
}
.TBTN{
  border :2px solid black;
  display: flex;
  width: 100%;
  height: 50%;
  border-radius :1rem;
  color :black;
  position :relative;
  background-color: #f2f2f2;
  overflow: hidden;
  margin: 0 5px;
  position :relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change :transform;
  z-index: 0;
}
  .TBTN::after{
    background-color: #94d7bb;
    border-radius: 1rem;
    content: '';
    display :block;
    height: 100%;
    width: 100%;
    position :absolute;
    left: 0;
    top :0;
    transform :translate(-100%, 0) rotate(10deg);
    transform-origin :top left;
    transition: .2s transform ease-out;
    will-change :transform;
    z-index :-1;
}

    .TBTN:hover::after{
    transform :translate(0, 0);
}
.TBTN:hover{
    border: 2px solid transparent;
    font-weight :700;
    color: black;
    transform :scale(1.05);
    will-change :transform;
}
.TBTN:checked{
    border: 2px solid white;
    border-radius :1rem;
    font-weight :700;
    color: white;
    background-color: #94d7bb;
    
}
.PBTNB{
  border :2px solid black;
  display: flex;
  width: 35%;
  height: 37%;
  border-radius :1rem;
  color :black;
  position :relative;
  background-color: white;
  overflow: hidden;
  margin: 0 5px;
  position :relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change :transform;
  z-index: 0;
}
  .PBTNB::after{
    
    background-color: black;;
    border-radius: 1rem;
    content: '';
    display :block;
    height: 100%;
    width: 100%;
    position :absolute;
    left: 0;
    top :0;
    transform :translate(-100%, 0) rotate(10deg);
    transform-origin :top left;
    transition: .2s transform ease-out;
    will-change :transform;
    z-index :-1;
}

    .PBTNB:hover::after{
    transform :translate(0, 0);
    color: black;
}
.PBTNB:hover{
    border: 2px solid transparent;
    font-weight :700;
    color: black;
    transform :scale(1.05);
    will-change :transform;
}
.PBTNB:disabled{
    border: 2px solid white;
    border-radius :1rem;
    font-weight :700;
    color: white;
    background-color: #94d7bb;
}

.PBTNW{
  border :2px solid #94D7BB;
  display: flex;
  width: 35%;
  height: 37%;
  border-radius :1rem;
  color :black;
  position :relative;
  background-color: white;
  overflow: hidden;
  margin: 0 5px;
  position :relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change :transform;
  z-index: 0;
}
  .PBTNW::after{
    
    background-color: #94d7bb;;
    border-radius: 1rem;
    content: '';
    display :block;
    height: 100%;
    width: 100%;
    position :absolute;
    left: 0;
    top :0;
    transform :translate(-100%, 0) rotate(10deg);
    transform-origin :top left;
    transition: .2s transform ease-out;
    will-change :transform;
    z-index :-1;
}

    .PBTNW:hover::after{
    transform :translate(0, 0);
    color: black;
}
.PBTNW:hover{
    border: 2px solid transparent;
    font-weight :700;
    color: black;
    transform :scale(1.05);
    will-change :transform;
}
.PBTNW:disabled{
    border: 2px solid white;
    border-radius :1rem;
    font-weight :700;
    color: white;
    background-color: #94d7bb;
}
